<div class="footer dark:text-white md:hidden bg-white flex justify-between items-center w-screen fixed bottom-0 z-[10] dark:bg-zinc-900 px-10 py-3">
    <a href="/feed"><i class="text-[1.4rem] ri-home-line"></i></a>
    <a href="/search"><i class="text-[1.4rem] ri-search-line"></i></a>
    <a href="/upload"><i class="text-[1.4rem] ri-add-box-line"></i></a>
    <a href="/profile">
      <div class="w-8 h-8 bg-zinc-300 rounded-full overflow-hidden">
        <img class="w-full h-full object-cover" src="{{url_for('static',filename=session['profile'])}}" alt="">
      </div>
    </a>
  </div>