<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed | Instagram</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/output.css')}}">

</head>
<body class="flex relative">
  <nav class="md:w-[20vw] dark:text-white hidden md:block bg-white dark:bg-zinc-900 left-0 top-0 sticky h-screen border-r-[1px] border-[#ddd]">
    <img src="/static/images/logo_nav.png" class="w-[60%] invert-0 dark:invert mt-[10px] ms-[20px]" alt=""/>
    <ul class="h-[70%] flex items-start justify-center flex-col ps-[5px] gap-[3px]">
    <a href="/feed" class="w-[98%] bg-slate-100 dark:bg-zinc-700 rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">
      <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
        <i class="ri-home-5-fill text-[1.4rem]"></i>
        Home
      </li>
      </a>
    <a href="/search" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
      <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
        <i class="ri-search-line text-[1.4rem]"></i>
        Search
      </li>
      </a>
    <a href="/edit" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
      <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
        <i class="ri-pencil-line text-[1.4rem]"></i>
        Edit Profile
      </li>
      </a>
      <!-- Hidden used in future -->
    <a href="/reels" class="w-[98%] hidden rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
      <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
        <FaPlay />
        Reels
      </li>
      </a>
    <a href="/message" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
      <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
        <i class="text-[1.4rem] ri-messenger-line"></i>
        Messages
      </li>
      </a>
    <a href="/feed" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
      <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
        <i class="ri-heart-line text-[1.4rem]"></i>
        Notification
      </li>
      </a>
    <a href="/upload" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
      <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
        <i class="text-[1.4rem] ri-add-box-line"></i>
        Create
      </li>
      </a>
    <a href="/profile" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
      <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
        <img class="w-[30px] h-[30px] rounded-full" src="{{url_for('static',filename=session['profile'])}}">
        Profile
      </li>
      </a>
    </ul>
    <a href="/more" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">
      <li class="flex items-center w-full h-[50px] py-[5px] px-[15px] rounded-[10px] gap-[15px]">
        <i class="ri-menu-line ri-add-box-line"></i>
        More
      </li>
      </a>
  </nav>
  <div class="w-full md:w-[80vw] min-h-screen bg-white dark:bg-zinc-900 dark:text-white py-5 overflow-hidden">
    <div class="w-full md:hidden px-4 flex items-center justify-between">
      <img class="w-1/4 dark:invert-0 invert" src="{{url_for('static',filename='images/logo.png')}}" alt="">
      <div class="icons -mt-2 flex gap-5 items-center">
        <i class="text-[1.4rem] ri-heart-3-line"></i>
        <a href="/message">
          <i class="text-[1.4rem] ri-messenger-line"></i>
        </a>
      </div>
    </div>
    <div class="story px-3 flex gap-3 overflow-auto mt-5">
      {% for i in range(10) %}
        <a href="/story/">
          <div class="circle flex-shrink-0">
            <div
              class="gradient md:w-[50px] md:h-[50px] w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
              <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
                <img class="w-full h-full object-cover" src="{{url_for('static',filename=session['profile'])}}" alt="">
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
    </div>
    <div class="posts parent mb-20">
      {% for user_id,username,profile,post_id,caption,date,postURL,like_count in postdata %}
        <div class="post mt-10 w-full min-h-[50vh]">
          <div class="title px-4 flex items-center gap-2">
            <div class="w-[9vw] h-[9vw] md:w-[45px] md:h-[45px] bg-sky-100 rounded-full overflow-hidden">
              <img class="w-full h-full object-cover" src="{{url_for('static',filename=profile)}}" class="">
            </div>
            <a class="text-sm" href="/userprofile/{{user_id}}">
              {{ username }}
            </a>
            <h6 class="text-xs opacity-30">
              {{ date }}
            </h6>
          </div>
          <div class="relative w-full md:h-[50vw] h-96 mt-4 bg-slate-200 dark:bg-zinc-800 overflow-hidden">
            <img data-postid="{{post_id}}" loading="lazy" class="postimg md:ms-[15vw] md:w-[50vw] w-full h-full object-cover"
              src="{{ url_for('static',filename = postURL) }}" alt="">
          </div>
          <!-- Likes Section -->
          <div class="options w-full px-4 flex justify-between items-center text-[1.4rem]">
            <div class="flex gap-3 mt-2">
              {% if post_id not in liked_posts %}
              <a href="/like/{{post_id}}">
                <i class="heart ri-heart-3-line"></i>
              </a>
              {% else %}
              <a href="/dislike/{{post_id}}">
                <i class="heart ri-heart-3-fill text-red-500"></i>
              </a>
              {% endif %}
              <i class="ri-chat-3-line"></i>
              <i class="ri-share-circle-line"></i>
            </div>
            <i data-postid="{{post_id}}" class="save ri-bookmark-line"></i>
            <!-- <i data-postid="<%= post.id %>" class="save ri-bookmark-fill text-zinc-100"></i> -->
          </div>
          <!-- Likes Section Over -->
          <h3 class="likeval px-4 mt-2 text-sm leading-none tracking-tight">
            {{ like_count }} likes
          </h3>
          <h2 class="dark:text-white font-light text-sm mt-2">
            <span class="font-semibold pl-4 pr-2">
              {{ username }}
            </span>
            {{ caption }}
          </h2>
        </div>
        {% endfor %}
    </div>
  </div>
  {% include 'partials/footer.html' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) { 
          var scrollpos = localStorage.getItem('scrollpos');
          if (scrollpos) window.scrollTo(0, scrollpos);
      });
  
      window.onbeforeunload = function(e) {
          localStorage.setItem('scrollpos', window.scrollY);
      };
  </script>
</body>
</html>