<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages | Instagram</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/output.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="font-[Outfit] flex relative">
    <nav class="md:w-[20vw] dark:text-white hidden md:block bg-white dark:bg-zinc-900 left-0 top-0 sticky h-screen border-r-[1px] border-[#ddd]">
        <img src="/static/images/logo_nav.png" class="w-[60%] invert-0 dark:invert mt-[10px] ms-[20px]" alt=""/>
        <ul class="h-[70%] flex items-start justify-center flex-col ps-[5px] gap-[3px]">
        <a href="/feed" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">
          <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
            <i class="ri-home-5-fill text-[1.4rem]"></i>
            Home
          </li>
          </a>
        <a href="/search" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
          <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
            <i class="ri-search-line text-[1.4rem]"></i>
            Search
          </li>
          </a>
        <a href="/edit" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
          <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
            <i class="ri-pencil-line text-[1.4rem]"></i>
            Edit Profile
          </li>
          </a>
          <!-- Hidden used in future -->
        <a href="/reels" class="w-[98%] hidden rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
          <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
            <FaPlay />
            Reels
          </li>
          </a>
        <a href="/message" class="w-[98%] bg-slate-100 dark:bg-zinc-700 rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
          <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
            <i class="text-[1.4rem] ri-messenger-line"></i>
            Messages
          </li>
          </a>
        <a href="/feed" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
          <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
            <i class="ri-heart-line text-[1.4rem]"></i>
            Notification
          </li>
          </a>
        <a href="/upload" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
          <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
            <i class="text-[1.4rem] ri-add-box-line"></i>
            Create
          </li>
          </a>
        <a href="/profile" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">  
          <li class="flex items-center w-full h-[50px] py-[5px] px-[10px] rounded-[10px] gap-[15px]">
            <img class="w-[30px] h-[30px] rounded-full" src="{{url_for('static',filename=session['profile'])}}">
            Profile
          </li>
          </a>
        </ul>
        <a href="/more" class="w-[98%] rounded-[10px] text-[17px] dark:hover:bg-zinc-700 hover:bg-slate-100">
          <li class="flex items-center w-full h-[50px] py-[5px] px-[15px] rounded-[10px] gap-[15px]">
            <i class="ri-menu-line ri-add-box-line"></i>
            More
          </li>
          </a>
      </nav>
    <div class="w-full flex md:w-[80vw] flex-col overflow-hidden gap-2 h-[100dvh] bg-white dark:bg-zinc-900 dark:text-white">
        <!-- Top Bar -->
        <div class="nav flex items-center px-4 py-2 gap-4">
            <a href="/feed/">
                <i class="ri-arrow-left-line text-[1.4rem]"></i>
            </a>
            <h3 class="text-lg">{{session['username']}}</h3>
        </div>

        <!-- Search Bar -->
        <div class="search-div dark:bg-zinc-700 dark:text-white px-2 rounded-lg w-[96%] mx-[2%] bg-slate-100 flex items-center gap-2">
            <input type="text" placeholder="Search" class="flex-1 py-2 bg-transparent dark:text-white outline-0 border-0">
        </div>

        <div class="users flex-1 px-2 mx-[2%]">
            {% if users %}
            {% for user in users %}
            <a href="/chat/{{user['id']}}" class="outline-none">
                <div class="dark:text-white flex items-center gap-3 mt-5">
                    <div class="image w-[15vw] md:h-[60px] md:w-[60px] h-[15vw] rounded-full bg-sky-100 overflow-hidden">
                        <img src="{{url_for('static',filename=user['profile'])}}" alt="">
                        </div>
                    <div class="text flex flex-col gap-2 justify-center">
                        <h3>{{user['name']}}</h3>
                        <h4 class="text-xs text-slate-500 opacity-70 leading-none">Start chat with {{user['name']}}</h4>
                    </div>
                </div>            
            </a>
            {% endfor %}
            {% else %}
                <p class="w-full p-4 text-center dark:text-white">No users found.</p>
            {% endif %}
        </div>
    </div>
  {% include 'partials/footer.html' %}

</body>
</html>